@charset "utf-8";
.mask1{
	background: url(../images/black.png) repeat; 
	width: 100%; 
	height: 100%; 
	display: none; 
	position: absolute; 
	z-index: 10;
	top: 0;
	left: 0;
}

/*-*---pos机管理  清除库存-------*/
.outStorage_tab {}
.outStorage_tab textarea { 
	width: 98%; 
	display: block; 
	height: 100px; 
	padding: 5px; 
	font-size: 12px;
	border: 1px #CCCCCC solid;
}
/*-*---审核失败-------*/
.openingCheck_tab {}
.openingCheck_tab textarea { 
	width: 98%; 
	display: block; 
	height: 100px; 
	padding: 5px; 
	font-size: 12px;
	border: 1px #CCCCCC solid;
}

.sizeFix{
	width: 450px;
}
.sizeFix li { width: 450px;}
.sizeFix li img { width: 450px;}

.mytitle{margin:16px 0px 0px 140px;}
.mytitle1{margin:16px 0px 0px 205px;}

.textClass{border:1px solid #ccc;margin-bottom:5px;padding:3px;}
.redtext{color:#ff5f2b;font-size:12px;}