<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.manage.mapper.zhangfu.CustomerIntegralConvertMarkMapper">
  <resultMap id="BaseResultMap" type="com.comdosoft.financial.manage.domain.zhangfu.CustomerIntegralConvertMark">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_integral_convert_id" jdbcType="INTEGER" property="cicId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="process_user_id" jdbcType="INTEGER" property="processUserId" />
    <result column="process_user_name" jdbcType="VARCHAR" property="processUserName" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
 
   <insert id="createMark" parameterType="com.comdosoft.financial.manage.domain.zhangfu.CustomerIntegralConvertMark">
	   INSERT INTO  customer_integral_convert_marks (customer_integral_convert_id,content,created_at,process_user_id,process_user_name) 
		VALUES(#{cicId,jdbcType=INTEGER},  #{content,jdbcType=VARCHAR}, 
	      #{createdAt,jdbcType=TIMESTAMP}, 
	      #{processUserId,jdbcType=INTEGER}, 
	      #{processUserName,jdbcType=VARCHAR})
  </insert>
  
  <select id="findMarksById"  resultMap="BaseResultMap">
  	SELECT * FROM customer_integral_convert_marks  c WHERE c.`customer_integral_convert_id`=#{param1}
  </select>
  
</mapper>