<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.manage.mapper.zhangfu.ReocrdOperateMapper">
<insert id="save" keyProperty="id">
		insert into operate_records(operate_user_id,operate_user_name,operate_user_type,types,content,created_at,updated_at,operate_target_id) values
		(#{operateUserId},#{operateUserName},#{operateUsreType},#{types},#{content},now(),now(),#{operateTargetId})
   </insert>
</mapper>
